<launch>
    <node  name="lcsfl_node"
           pkg="ai_robot_lcsfl"
           type="lcsfl_node"
           clear_params="true"
           output="screen">

          <remap from="msf_core/hl_state_input" to="/fcu/ekf_state_out" />
		  <remap from="msf_core/correction" to="/fcu/ekf_state_in" />
          <!--remap from="msf_updates/pose_with_covariance_input" to="/bluebird/down/vslam/pose" /-->
          <!--remap from="msf_updates/pose_with_covariance_input" to="/auk/down/vslam/pose" /-->
          <remap from="msf_core/imu_state_input" to="/sensors/imu" />
          <remap from="msf_updates/zed/odom" to="/sensors/stereo_cam/odom" />
          <remap from="msf_updates/carto/pose_input" to="/slam/pose" />
          <rosparam file="$(find ai_robot_lcsfl)/sensor_fix.yaml"/>
    </node>
    <node pkg="rosservice" type="rosservice" name="initialize" args="call --wait /lcsfl_node/lcsfl_pose_sensor/initialize_msf_scale 1"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_stereo" args="0 0 0 0 0 0 1 world odometry_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_odom" args="0 0 0 0 0 0 1 world odomg" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="imu_to_slam" args="0 0 0 0 0 0 1 world  " />
</launch>
<!--     <node name = "playbag" pkg="rosbag" type="play" args="--clock /home/wuzida/data/2020-02-26-00-15-26.bag --pause" output = "screen"> -->
<!--         <remap from="/kitti/camera_color_left/image_raw" to="/camera/left/image_raw" /> -->
<!--         <remap from="/kitti/camera_color_right/image_raw" to="/camera/right/image_raw" /> -->
<!--         <remap from="/kitti/oxts/gps/fix" to="/kitti/oxts/gps/fix" />        -->
<!--     </node> -->