<launch>
    <node name="vicon_sensor" pkg="ai_robot_lcsfl" type="lcsfl_node" clear_params="true" output="screen">

		<remap from="msf_core/hl_state_input" to="/fcu/ekf_state_out" />
		<remap from="msf_core/correction" to="/fcu/ekf_state_in" />
		<remap from="msf_updates/transform_input" to="/vicon/robot_name/robot_name" />
		<remap from="/msf_core/imu_state_input" to="/imu"  />
		<remap from="msf_updates/transform_input" to="/slam/pose" />


		<rosparam file="$(find ai_robot_lcsfl)/vicon_fix.yaml"/>
    </node>
<node pkg="rosservice" type="rosservice" name="initialize" args="call --wait /vision_sensor/pose_sensor/initialize_msf_scale 1"/>
</launch>
<!--     <node name = "playbag" pkg="rosbag" type="play" args="--clock /home/wuzida/data/2020-02-26-00-15-26.bag --pause" output = "screen"> -->
<!--         <remap from="/kitti/camera_color_left/image_raw" to="/camera/left/image_raw" /> -->
<!--         <remap from="/kitti/camera_color_right/image_raw" to="/camera/right/image_raw" /> -->
<!--         <remap from="/kitti/oxts/gps/fix" to="/kitti/oxts/gps/fix" />        -->
<!--     </node> -->